<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>权限管理</title>

	</head>

	<body>
		<div id="qxgl">

			<el-row>
				<el-col :span="4" style="background-color: #d6dfe7; height: 660px; padding: 10px;">
					<el-col :span="24">
						<div class="grid-content bg-purple">
							<el-form :inline="true" :model="pageInfo.list" class="demo-form-inline">
								<el-form-item label="审批人">
									<el-input v-model="staffname" placeholder="审批人"></el-input>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" @click="onSubmit">查询</el-button>
								</el-form-item>
							</el-form>
						</div>
					</el-col>
					<el-col :span="24">
						<template>
							<el-table :data="pageInfo.list" border style="width: 100%">
								<el-table-column prop="staffname" label="用户名">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="handleClick(scope.row.staffid)" type="text" size="small">查看权限</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</el-col>
					<!--<el-col :span="24">
						<div class="block" style="margin-top: 20px; text-align: center;">
							<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-sizes="[1, 2, 10]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total">
							</el-pagination>
						</div>
					</el-col>-->
				</el-col>
				<el-col :span="20" style="background-color: #efeff7; height: 660px; padding: 10px;">
					<div class="grid-content bg-purple-light">
						<el-form ref="form" :model="qxkz" label-width="80px">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple">
										<el-col :span="8" v-for="item in caiDanList" v-if="item.dengji==1&&item.controlleraction!='yj001'">
											<div style="box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); border-radius: 10px; width: 300px;height: 230px;  margin: 5px 5px;overflow: auto; ">
												<div style="text-align: center; ">
													<el-row style="border-bottom: 1px #C0C0C0 solid; padding: 5px 0px;">
														<el-col :span="24">
															<div class="grid-content bg-purple-dark">
																<span style="font-size: 20px;">{{item.menuname}}</span>
															</div>
														</el-col>
													</el-row>

													<el-row style="" v-for="(item3,i) in caiDanList" v-if="item3.dengji==2&&item3.fuCaiDan.caidanid==item.caidanid">
														<el-col :span="15" style="margin-left: 15px;" align="left">
															<h4 style="margin: 5px ;">{{item3.menuname}}</h4>
														</el-col>
														<el-col :span="12" v-for="(item2,i) in caiDanList" v-if="item2.dengji==3&&item2.fuCaiDan.caidanid==item3.caidanid">
															<div class="grid-content bg-purple">
																<el-checkbox :label="item2.caidanid" v-model="arrlist" border>{{item2.menuname}}</el-checkbox>
															</div>
														</el-col>
													</el-row>
												</div>
											</div>
										</el-col>
									</div>
								</el-col>
								<div class="grid-content bg-purple">
									<el-col :span="24">
										<div style="box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); border-radius: 10px;  height: 150px;  margin: 5px  5px;">
											<el-form-item>
												<el-button type="primary" @click="genxinquanxian" style="width: 200px; height: 40px; margin-top:60px;">更新权限</el-button>
												<el-button @click="quxiaogenxinquanxian(qxkz.staffid)" style="width: 200px; height: 40px;  margin-top:60px; ">取消</el-button>
											</el-form-item>
										</div>
									</el-col>
								</div>

							</el-row>
					</div>
				</el-col>
			</el-row>

		</div>
	</body>

	<script>
		var vmqxgl = new Vue({
			data: {

				qxkz: {
					qxid: 0,
					staffid: 0,
					postname: 0,
					zzjg: 0,
					gwdy: 0,
					lzdj: 0,
					txml: 0,
					jgxj: 0,
					bzjg: 0,
					wqcl: 0,
					fdjpp: 0,
					cxda: 0,
					wxxmid: 0,
					sqzl: 0,
					ghdwid: 0,
					khzl: 0,
					clzl: 0,
					jfzs: 0,
					hycx: 0,
					jszx: 0,
					wxjc: 0,
					jgjy: 0,
					bz1: '',
					bz2: '',
					bz3: ''
				},
				staffid: '',
				staffname: '',
				pageInfo: {

				},
				formInline: {
					user: '',
					region: ''
				},
				checka: 1,
				checkb: 0,
				staff: [],
				caiDanList: [],
				arrlist: [], //存储用户拥有得菜单权限
				scCaiDan: {
					arrc: "",
					id: "",
				},
				attffId: "",
			},
			mounted() {
				this.goToPage(1, 10);
				this.staff = vmsy.staff; //获取首页得用户
				this.caiDanList = vmsy.caiDanList; //获取用户权限

			},
			methods: {
				//获取用户拥有菜单权限
				handleClick(row) {
					let _this = this; //非常重要
					$.getJSON('http://127.0.0.1:9999/api/show/yjSelectQuanXiang/' + row + '', function(yjdata) {
						_this.arrlist = yjdata.data;
						_this.attffId = row;
					});
				},
				//查询用户
				goToPage(p, s) {
					let _this = this; //非常重要
					$.getJSON("http://127.0.0.1:9999/api/hl/query/", "pageNum=" + p + "&pageSize=" + s + "&staffname=" + _this.staffname + "", function(data) {
						_this.pageInfo = data;
					});
				},
				//分页
				//				handleSizeChange(val) {
				//					console.log(`每页 ${val} 条`);
				//					this.pageInfo.pageSize = val;
				//					this.goToPage(this.pageInfo.pageNum, val);
				//				},
				//				handleCurrentChange(val) {
				//					console.log(`当前页: ${val}`);
				//					this.pageInfo.pageNum = val;
				//					this.goToPage(val, this.pageInfo.pageSize);
				//				},
				quxiaogenxinquanxian(row) {
					let _this = this; //非常重要

					$.getJSON('http://127.0.0.1:9999/api/hl/selectByPrimaryKey/' + row + '', function(data) {
						_this.qxkz = data;
						vmqxgl.$message({
							message: '权限还原成功',
							type: 'success'
						});
					});
				},
				//查询用户
				onSubmit() {
					this.goToPage(1, 4);
				},
				//修改权限
				genxinquanxian() {
					let _this = this; //非常重要
					if(_this.attffId!=''){
					_this.scCaiDan.arrc = _this.arrlist;
					_this.scCaiDan.id = _this.attffId;
					$.ajax('http://localhost:9999/api/show/updateByPrimaryKeySelective', {
						type: 'Put',
						data: JSON.stringify(_this.scCaiDan),
						dataType: 'json',
						contentType: 'application/json',
						success(msg) {
							if(msg.code == "200") {
								_this.$alert("修改权限成功");
							}else if(msg.code=="501"){
								_this.$alert("权限不足");
							}
						}
					});
					}else{
						_this.$alert("请选择用户");
					}
				},
				
			}
		}).$mount("#qxgl");
	</script>

</html>