<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="appr">
			<h1 style="background: silver;">岗位定义</h1>
			<el-row>
				<el-button type="primary" @click="dialogVisible=true">新增岗位</el-button>
			</el-row>
			<el-table :data="pageInfo.list" style="width:100%">
				<el-table-column prop="postid" label="岗位编号"></el-table-column>
				<el-table-column prop="postname" label="岗位名称"></el-table-column>
				<el-table-column label="操作">
					<!--作用域插槽-->
					<template slot-scope="temp">
						<el-button  icon="el-icon-edit" circle @click="xiugai(temp.row.postid)"></el-button>
						<el-button type="danger" icon="el-icon-delete" circle @click="deletel(temp.row.postid)"></el-button>
					</template>
				</el-table-column>
			</el-table>
			<div class="block" style="margin-top: 20px; text-align: center;">
				<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.currentPage" :page-sizes="[1, 2, 3 , 4, 5, 6, 10]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total">
				</el-pagination>
			</div>
			<!--描述：模态框--> 
			<el-dialog title="新增岗位" :visible.sync="dialogVisible" width="30%" >
				<el-form  label-width="80px">
					<el-form-item label="岗位编号">
						<el-input v-model="post.postid"></el-input>
					</el-form-item>
					<el-form-item label="岗位名称">
						<el-input v-model="post.postname"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button @click="dialogVisible = false">取 消</el-button>
    		  			<el-button type="primary"  @click="addPost">确 定</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			
			<!--描述：模态框--> 
			<el-dialog title="新增岗位" :visible.sync="dialogVisibles" width="30%" >
				<el-form  label-width="80px">
					<el-form-item label="岗位编号">
						<el-input v-model="post.postid"></el-input>
					</el-form-item>
					<el-form-item label="岗位名称">
						<el-input v-model="post.postname"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button @click="dialogVisibles = false">取 消</el-button>
    		  			<el-button type="primary"  @click="onSubmit">确 定</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
		</div>
	</body>
	<script>
		new Vue({			
			data:{
				dialogVisible:false,
				dialogVisibles:false,
				pageInfo:{},
				post:{

				}
			},
			methods:{
				goToPage(p,s) {
					let _this = this; //非常重要
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryPost/' + p + '/' + s + '', function(data) {
						_this.pageInfo = data;
					});
				},
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
					this.goToPage(val, this.pageInfo.pageSize);
				},
				addPost(){
					let _this = this; //非常重要
					post=_this.post;
					alert(JSON.stringify(post))
					$.ajax('http://127.0.0.1:9999/api/wlw/addPost', {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.post),
						dataType: "json",
						success(message) {
							if(message.code==200) {
								_this.$message({
         							message: '新增成功',
         						 	type: 'success'
        						});
        						dialogVisible=false;
								_this.goToPage(_this.pageInfo.pageNum,_this.pageInfo.pageSize);
							}
						}
					});
				},
				xiugai(postid) {
					let _this = this; //非常重要
					_this.dialogVisibles = true;
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryByid/' + postid + '', function(data) {					
						_this.post = data;
					});
				},
				onSubmit(){
					let _this = this; //非常重要
					
					$.ajax('http://127.0.0.1:9999/api/wlw/updatePost', {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.post),
						dataType: "json",
						success(message) {
							if(message.code==200) {
								_this.$message({
         							message: '修改成功',
         						 	type: 'success'
        						});
        						_this.dialogVisibles = false;
								_this.goToPage(_this.pageInfo.pageNum,_this.pageInfo.pageSize);
							}
						}
					});
				},
				deletel(postid){
					let _this = this; //非常重要
					$.ajax('http://127.0.0.1:9999/api/wlw/deletePost/'+postid+'', {
						type: "get",
						success(message) {
							if(message.code == "200") {
								_this.$message.error('删除成功');
								_this.goToPage(_this.pageInfo.pageNum,_this.pageInfo.pageSize);
							}
						}
					}); 
				}
			},
			mounted() {
				this.goToPage(1, 3);
			}
		}).$mount("#appr")
	</script>

</html>