<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.el-table-column{
				text-align: center;
			}
		</style>
	</head>
		
	<body>
		<div id="appe">
			<h1 style="background: silver;">组织机构</h1>
			<el-container>
				<el-aside width="200px">
					<el-tree :data="data" :props="defaultProps" accordion @node-click="handleNodeClick"></el-tree>
				</el-aside>
				<el-main>
					<el-row>
						<el-button type="primary" disabled style="margin-left: 10px;">部门名称：</el-button>
						<el-input v-model="sectionName" style="width: 200px;" placeholder="请输入部门名称"></el-input>
						<el-button type="primary" disabled style="margin-left: 50px;">员工姓名：</el-button>
						<el-input v-model="staffName" style="width: 200px;" placeholder="请输入员工姓名"></el-input>
						<el-button type="primary" style="margin-left: 100px;">查询</el-button>
						<el-button type="primary">增加部门</el-button>
						<el-button type="primary">增加员工</el-button>
					</el-row>
					<!--
            	作者：1994463099@qq.com
            	时间：2020-07-27
            	描述：//:data="pageInfo.list"
            -->
					<el-table :data="pageInfo.list" style="width:100%;margin-top: 50px;" border fixed>
						<el-table-column width="120px" prop="tstore" label="机构"></el-table-column>
						<el-table-column prop="sectionbh" label="部门编号"></el-table-column>
						<el-table-column prop="sectionname" label="部门名称"></el-table-column>
						<el-table-column prop="staffid" label="员工编号"></el-table-column>
						<el-table-column prop="staffname" label="姓名"></el-table-column>
						<el-table-column  label="性别">
							<template slot-scope="temp">
								{{temp.row.staffsex | chesex}}
							</template>
						</el-table-column>
						<el-table-column prop="education" label="学历"></el-table-column>
						<el-table-column width="120px" prop="school" label="毕业学校"></el-table-column>
						<el-table-column prop="specialty" label="专业"></el-table-column>
						<el-table-column prop="edtype" label="专业资格"></el-table-column>
						<el-table-column width="120px" prop="sfid" label="身份证号"></el-table-column>
						<el-table-column prop="yhdz" label="户口地址"></el-table-column>
						<el-table-column prop="xjdz" label="现住地址"></el-table-column>
						<el-table-column width="120px" prop="staff" label="联系电话"></el-table-column>
						<el-table-column width="170px" prop="entrytime" label="入职日期"></el-table-column>
						<el-table-column width="120px" label="操作">
							<!--作用域插槽-->
							<template slot-scope="temp">
								<el-button circle icon="el-icon-search" @click="xiugai(temp.row.postid)"></el-button>
								<el-button type="danger" icon="el-icon-delete" circle @click="deletel(temp.row.postid)"></el-button>
							</template>
						</el-table-column>
					</el-table>
					<div class="block" style="margin-top: 20px; text-align: center;">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.currentPage" :page-sizes="[1, 2, 3 , 4, 5, 6, 10]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total">
						</el-pagination>
					</div>
				</el-main>
			</el-container>
		</div>
	</body>
	<script>
		new Vue({
			data: {
				data: [{
					label: '株洲酒廊山汽修',
					children: [{
							label: '人事部',
						},
						{
							label: '财务部',
						},
						{
							label: '销售部',
						},
						{
							label: '总经办',
						}
					]
				}],
				defaultProps: {
					children: 'children',
					label: 'label'
				},
				pageInfo:{}
			},
			methods: {
				handleNodeClick(data) {
					console.log(data);
				},
				goToPage(p,s) {
					let _this = this; //非常重要
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryStaff/' + p + '/' + s + '', function(data) {
						_this.pageInfo = data;
					});
				},
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
					this.goToPage(val, this.pageInfo.pageSize);
				},
				xiugai(staffid){
					
				},
				deletel(staffid){
					
				}
			},
			mounted() {
				this.goToPage(1, 3);
			},
			filters:{
				chesex(val){
					return val == 0 ? '男' : '女'
				}
			}
		}).$mount("#appe")
	</script>

</html>