<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.el-table-column {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="appe">
			<h1 style="background: silver;">组织机构</h1>
			<el-container>
				<el-aside width="200px">
					<el-tree :data="data" accordion @node-click="handleNodeClick">
					</el-tree>
				</el-aside>
				<el-main>
					<el-row>
						<el-button type="primary" disabled >员工姓名：</el-button>
						<el-input v-model="staffname" style="width: 200px;" placeholder="请输入员工姓名"></el-input>
						<el-button type="primary" style="margin-left: 100px;" @click="query">查询</el-button>
						<el-button type="primary" @click="dialogVisible=true">增加部门</el-button>
						<el-button type="primary" @click="dialogVisiblea=true">增加员工</el-button>
					</el-row>
					<!--
            	作者：1994463099@qq.com
            	时间：2020-07-27
            	描述：//:data="pageInfo.list"
            -->
					<el-table :data="pageInfo.list" style="width:100%;margin-top: 50px;" border fixed>
						<el-table-column width="120px" prop="tstore" label="机构"></el-table-column>
						<el-table-column prop="sectionbh" label="部门编号"></el-table-column>
						<el-table-column prop="sectionname" label="部门名称"></el-table-column>
						<el-table-column prop="staffid" label="员工编号"></el-table-column>
						<el-table-column prop="staffname" label="姓名"></el-table-column>
						<el-table-column label="性别">
							<template slot-scope="temp">
								{{temp.row.staffsex | chesex}}
							</template>
						</el-table-column>
						<el-table-column prop="education" label="学历"></el-table-column>
						<el-table-column width="120px" prop="school" label="毕业学校"></el-table-column>
						<el-table-column prop="specialty" label="专业"></el-table-column>
						<el-table-column prop="edtype" label="专业资格"></el-table-column>
						<el-table-column width="120px" prop="sfid" label="身份证号"></el-table-column>
						<el-table-column prop="yhdz" label="户口地址"></el-table-column>
						<el-table-column prop="xjdz" label="现住地址"></el-table-column>
						<el-table-column width="120px" prop="staff" label="联系电话"></el-table-column>
						<el-table-column width="170px" prop="entrytime" label="入职日期"></el-table-column>
						<el-table-column width="120px" label="操作">
							<!--作用域插槽-->
							<template slot-scope="temp">
								<el-button circle icon="el-icon-search" @click="xiugai(temp.row.staffid)"></el-button>
								<el-button type="danger" icon="el-icon-delete" circle @click="deletel(temp.row.staffid)"></el-button>
							</template>
						</el-table-column>
					</el-table>
					<div class="block" style="margin-top: 20px; text-align: center;">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.currentPage" :page-sizes="[1, 2, 3 , 4, 5, 6, 10]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total">
						</el-pagination>
					</div>
				</el-main>
			</el-container>
			<!--描述：模态框：新增部门-->
			<el-dialog title="新增部门" :visible.sync="dialogVisible" width="30%">
				<el-form label-width="80px">
					<el-form-item label="部门名称">
						<el-input v-model="Sections.sectionname"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button type="primary" @click="addSection">确 定</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>

			<!--描述：模态框：新增员工-->
			<el-dialog title="新增员工" :visible.sync="dialogVisiblea" width="30%">
				<el-form label-width="80px">

					<el-form-item label="*员工姓名">
						<el-input v-model="staff.staffname"></el-input>
					</el-form-item>
					<el-form-item label="*员工性别">
						<template>
							<el-select v-model="staff.staffsex" placeholder="请选择">
								<el-option key="0" label="男" value="0">
								</el-option>
								<el-option key="1" label="女" value="1">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="*所在门店">
						<el-input v-model="staff.tstore"></el-input>
					</el-form-item>
					<el-form-item label="*部门">
						<template>
							<el-select v-model="staff.sectionid" placeholder="请选择">
								<el-option v-for="item in Section" :key="item.sectionbh" :label="item.sectionname" :value="item.sectionbh">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="职位">
						<template>
							<el-select v-model="staff.postid" placeholder="请选择">
								<el-option v-for="item in Post" :key="item.postid" :label="item.postname" :value="item.postid">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="学历">
						<el-input v-model="staff.education"></el-input>
					</el-form-item>
					<el-form-item label="毕业学校">
						<el-input v-model="staff.school"></el-input>
					</el-form-item>
					<el-form-item label="专业">
						<el-input v-model="staff.specialty"></el-input>
					</el-form-item>
					<el-form-item label="专业资格">
						<el-input v-model="staff.edtype"></el-input>
					</el-form-item>
					<el-form-item label="*身份证号">
						<el-input v-model="staff.sfid"></el-input>
					</el-form-item>
					<el-form-item label="户口地址">
						<el-input v-model="staff.yhdz"></el-input>
					</el-form-item>
					<el-form-item label="现居地址">
						<el-input v-model="staff.xjdz"></el-input>
					</el-form-item>
					<el-form-item label="*联系电话">
						<el-input v-model="staff.staff"></el-input>
					</el-form-item>
					<el-form-item label="*入职日期">
						<el-date-picker v-model="staff.entrytime" type="date" placeholder="选择日期">
						</el-date-picker>
					</el-form-item>
					<el-form-item>
						<el-button @click="dialogVisiblea = false">取 消</el-button>
						<el-button type="primary" @click="addStaff(staff)">确 定</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>

			<!--描述：模态框：查看员工-->
			<el-dialog title="查看员工" :visible.sync="dialogVisibleb" width="30%">
				<el-form label-width="80px">

					<el-form-item label="*员工姓名">
						<el-input v-model="Staffs.staffname"></el-input>
					</el-form-item>
					<el-form-item label="*员工性别">
						<template>
							<el-select v-model="Staffs.staffsex" placeholder="请选择">
								<el-option key="0" label="男" value="0">
								</el-option>
								<el-option key="1" label="女" value="1">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="*所在门店">
						<el-input v-model="Staffs.tstore"></el-input>
					</el-form-item>
					<el-form-item label="*部门">
						<template>
							<el-select v-model="Staffs.sectionid" placeholder="请选择">
								<el-option v-for="item in Section" :key="item.sectionbh" :label="item.sectionname" :value="item.sectionbh">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="职位">
						<template>
							<el-select v-model="Staffs.postid" placeholder="请选择">
								<el-option v-for="item in Post" :key="item.postid" :label="item.postname" :value="item.postid">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="学历">
						<el-input v-model="Staffs.education"></el-input>
					</el-form-item>
					<el-form-item label="毕业学校">
						<el-input v-model="Staffs.school"></el-input>
					</el-form-item>
					<el-form-item label="专业">
						<el-input v-model="Staffs.specialty"></el-input>
					</el-form-item>
					<el-form-item label="专业资格">
						<el-input v-model="Staffs.edtype"></el-input>
					</el-form-item>
					<el-form-item label="*身份证号">
						<el-input v-model="Staffs.sfid"></el-input>
					</el-form-item>
					<el-form-item label="户口地址">
						<el-input v-model="Staffs.yhdz"></el-input>
					</el-form-item>
					<el-form-item label="现居地址">
						<el-input v-model="Staffs.xjdz"></el-input>
					</el-form-item>
					<el-form-item label="*联系电话">
						<el-input v-model="Staffs.staff"></el-input>
					</el-form-item>
					<el-form-item label="*入职日期">
						<el-date-picker v-model="Staffs.entrytime" type="date" placeholder="选择日期">
						</el-date-picker>
					</el-form-item>
					<el-form-item>
						<el-button @click="dialogVisibleb = false">取 消</el-button>
						<el-button type="primary" @click="updateStaff(Staffs)">确 定</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			
		</div>
	</body>
	<script>
		new Vue({
			data: {
				data: [{
					label: '株洲酒廊山汽修',
					children: [{
							label: '人事部',
						},
						{
							label: '财务部',
						},
						{
							label: '销售部',
						},
						{
							label: '总经办',
						}
					]
				}],
				defaultProps: {
					children: 'children',
					label: 'label'
				},
				pageInfo: {},
				Sections: {},
				Section: {},
				dialogVisible: false,
				dialogVisiblea: false,
				dialogVisibleb: false,
				sectionName: "",
				staffname: "",
				Post: {},
				staff: {},
				Staffs:{}
			},
			methods: {
				handleNodeClick(data) {

					console.log(data);
				},
				goToPage(p, s) {
					let _this = this; //非常重要
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryStaff/' + p + '/' + s + '', function(data) {
						_this.pageInfo = data;
					});
				},
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
					this.goToPage(this.pageInfo.pageNum, val);
				},
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
					this.goToPage(val, this.pageInfo.pageSize);
				},
				xiugai(staffid) {
					
					let _this = this;
					_this.dialogVisibleb = true;
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryByStaff/'+staffid+'', function(data) {
					_this.Staffs = data;
					});
					
				},
				deletel(staffid) {
					let _this = this; //非常重要
					$.ajax('http://127.0.0.1:9999/api/wlw/deleteStaff/'+staffid+'', {
						type: "get",
						success(message) {
							if(message.code == "200") {
								_this.$message.error('删除成功');
								_this.goToPage(_this.pageInfo.pageNum,_this.pageInfo.pageSize);
							}
						}
					}); 
				},
				addSection() {
					let _this = this; //非常重要
					Section = _this.Sections;
					if(_this.Sections.sectionname == null) {
						_this.$message.error('名称不能为空');
						return;
					}
					$.ajax('http://127.0.0.1:9999/api/wlw/addSection', {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.Sections),
						dataType: "json",
						success(message) {
							if(message.code == 200) {
								_this.$message({
									message: '新增成功',
									type: 'success'
								});
								_this.dialogVisible = false;
							}
						}
					});
				},
				addStaff(staff) {
					
					let _this = this; //非常重要
					if(staff.staffname == null){
						_this.$message.error('姓名不能为空');
						return;
					};
					if(staff.staffsex == null){
						_this.$message.error('性别不能为空');
						return;
					};
					if(staff.tstore == null){
						_this.$message.error('所在门店不能为空');
						return;
					};
					if(staff.sectionid == null){
						_this.$message.error('部门不能为空');
						return;
					};
					if(staff.staff == null){
						_this.$message.error('联系电话不能为空');
						return;
					};
					if(staff.sfid == null){
						_this.$message.error('身份证号不能为空');
						return;
					};
					if(staff.entrytime == null){
						_this.$message.error('入职日期不能为空');
						return;
					};
					staff = _this.staff;
					$.ajax('http://127.0.0.1:9999/api/wlw/addStaff', {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.staff),
						dataType: "json",
						success(message) {
							if(message.code == 200) {
								_this.$message({
									message: '新增成功',
									type: 'success'
								});
								_this.dialogVisible = false;
								_this.goToPage(_this.pageInfo.pageNum, _this.pageInfo.pageSize);
							}
						}
					});
				},
				updateStaff(Staffs){
					let _this = this; //非常重要				
					$.ajax('http://127.0.0.1:9999/api/wlw/updateStaff', {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.Staffs),
						dataType: "json",
						success(message) {
							if(message.code == 200) {
								_this.$message({
									message: '修改成功',
									type: 'success'
								});
								_this.dialogVisibleb = false;
								_this.goToPage(_this.pageInfo.pageNum, _this.pageInfo.pageSize);
							}
						}
					});
				},
				query(){
					let _this=this;
					
					if(_this.staffname==""){
						_this.goToPage(1, 3);
						return;
					}
					$.getJSON('http://127.0.0.1:9999/api/wlw/queryByNames/'+_this.staffname+'', function(data) {
						_this.pageInfo.list=data;
					});
				}
			},
			mounted() {
				let _this = this;
				this.goToPage(1, 3);
				$.getJSON('http://127.0.0.1:9999/api/wlw/querySection', function(data) {
					_this.Section = data;
				});

				$.getJSON('http://127.0.0.1:9999/api/wlw/queryPosts', function(data) {
					_this.Post = data;
				});
			},
			filters: {
				chesex(val) {
					return val == 0 ? '男' : '女'
				}
			}
		}).$mount("#appe")
	</script>

</html>