<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="w">
			 <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
    <el-tab-pane label="维修项目" name="first">
    	

			<el-container>
				<el-aside width="300px">
					<template>
						<el-select  v-model="wxleib" placeholder="请选择" @change="wxxm">
							<el-option v-for="item in options" :key="item.wxtypename" :label="item.wxtypename" :value="item.wxtypeid">							
							</el-option>
						</el-select>
                            
					</template>
				</el-aside>
				<el-main>
					
		<el-form :inline="true" :model="wxtype" class="demo-form-inline">
  <el-form-item label="维修">
    <el-input v-model="wxtype.ppname" placeholder="维修项目"></el-input>
  </el-form-item>
   <el-form-item>
    <el-button type="primary" @click="onSubmit">查询</el-button>
  </el-form-item>
  <el-form-item>
   <el-button type="primary" @click="insert">新增</el-button>
  </el-form-item>
  </el-form>
  <el-dialog title="新增" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
					<el-form ref="form" :model="wx" label-width="100px">
						<el-form-item label="维修项目名称">
							<el-input v-model="wx.wxxmname"></el-input>
						</el-form-item>
						<el-form-item label="维修类别">
							<el-select v-model="wx.wxtypeid" placeholder="请选择">
								<el-option v-for="item in options" :key="item.wxtypename" :label="item.wxtypename" :value="item.wxtypeid">
								</el-option>
							</el-select>
						</el-form-item>
	
						<el-form-item label="标准价格">
							<el-input v-model="wx.bzjia"></el-input>
						</el-form-item>
				<el-form-item label="会员价格">
							<el-input v-model="wx.hyjia"></el-input>
						</el-form-item>	<el-form-item label="Vip价格">
							<el-input v-model="wx.vipjia"></el-input>
						</el-form-item>	<el-form-item label="协议价">
							<el-input v-model="wx.xyjia"></el-input>
						</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary"  @click="ins">确 定</el-button>
  </span>
				</el-dialog>
  <el-table :data="tableData.list" style="width: 100%">
					<el-table-column prop="wxxmname" label="维修项目名称" width="120">
					</el-table-column>
					<el-table-column prop="bzjia" label="标准价格" width="100">
					</el-table-column>
					<el-table-column prop="hyjia" label="会员价格" width="100">
					</el-table-column>
					<el-table-column prop="vipjia" label="Vip价格" width="100">
					</el-table-column>
					<el-table-column prop="xyjia" label="协议价" width="100">
					</el-table-column>
					<el-table-column label="操作">
						<template slot-scope="temp">
							<el-button type="primary" icon="el-icon-edit" circle @click="xg(temp.row)"></el-button>
							<el-button type="danger" icon="el-icon-delete" circle @click="sc(temp.row.wxxmid)"></el-button>
						</template>
					</el-table-column>
				</el-table>
  <el-pagination style="padding-left: 150px;" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="tableData.pageNum" :page-sizes="[]" :page-size="tableData.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="tableData.total">
					</el-pagination>
  
				</el-main>
			</el-container>
			    </el-tab-pane>
    <el-tab-pane label="维修类别" name="second">
    	
    	1111
    </el-tab-pane>
</el-tabs>
		</div>
	</body>
	<script>
		new Vue({
			el: "#w",
			data() {
				return {
					wxleib: "",
					options: [],
					wxtype:{},
					tableData:[],
					pages:1,
					 activeName: 'first',
					 dialogVisible: false,
					 wx:{}
				};
			},
			methods: { 
				handleClick(tab, event) {
        console.log(tab, event);
      },
                     wxjiaz(){
                     	let _this=this;
                     	   	$.getJSON("http://127.0.0.1:9999/api/zyw/queryWx", function(it) {
												_this.options=it
                     	   	})
                     },wxxm(i){        
                     	 	let _this=this;
                     	   	$.getJSON("http://127.0.0.1:9999/api/zyw/queryWxxm?pageNum="+i+"&id="+_this.wxleib, function(it) {
												_this.tableData=it
                     	   	})
                     },onSubmit(){
                     	
                     },insert(){
                     	this.dialogVisible=true;
                     },ins(){},
                handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
     },handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
      	this.pages=val;
      	this.wxxm(val);
        console.log(`当前页: ${val}`);
      },handleClose(done) {
						this.$confirm('确认关闭？')
							.then(_ => {
								done();
							})
							.catch(_ => {});
					}
			},mounted(){
				this.wxjiaz();
				this.wxxm(1);
			}
		})
	</script>

</html>